.avatar {
  background: #765bbd;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.avatar img {
  width: 22px;
  height: 22px;
}
.typing .content {
  position: relative;
}
.typing .content::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 16px;
  background: #d5d9da;
  animation: toggle 0.6s infinite;
  opacity: 0;
  left: var(--x);
  top: var(--y);
}
.content.user {
  margin: 10px 0 10px 40px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  max-width: 90%;
  word-wrap: break-word;
  background-color: rgb(127, 247, 127);
}
.content.robot {
  margin: 10px 0 10px 40px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  max-width: 90%;
  word-wrap: break-word;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo span {
  background: linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 10px;
}
