.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6fbbee 0%, #b182ee 100%);
  background-attachment: fixed;
}

.login-card {
  width: 400px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.login-card .ant-card-head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.ant-input-affix-wrapper {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  transition: all 0.3s ease;
}

.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus-within{
  border-color: #7c4dff;
  box-shadow: 0 0 0 2px rgba(124, 77, 255, 0.2);
  color: #333;
}

.login-form-button-container {
  display: flex;
  justify-content: center;
}

.login-form-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  width: 50%;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: white;
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.login-form-button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.login-form-button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(110, 179, 243);
  background: linear-gradient(
    90deg,
    rgb(191, 233, 243) 0%,
    rgb(224, 80, 205) 49%,
    rgb(29, 212, 248) 100%
  );
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.login-form-button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
